/* Styles shared by the enitre app */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #5e5e5e;
  background-color: #f2f2f2;
}

.centeredContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  margin: 5vw;
}
